@media screen and (min-width: 576px) {
  .g-col-sm-2 {
    grid-template-columns: repeat(2, 1fr) !important;
  }
  
}

@media screen and (min-width: 786px) {
  .g-col-md-3 {
    grid-template-columns: repeat(3, 1fr) !important;
  }
  .g-col-md-2 {
    grid-template-columns: repeat(2, 1fr) !important;
  }
}
@media screen and (min-width: 992px) {
  .g-col-lg-3 {
    grid-template-columns: repeat(3, 1fr) !important;
  }
  .container-lg,
  .container-xl,
  .container-sm {
    max-width: 960px !important;
  }
}
@media screen and (min-width: 1200px) {
  .g-col-lg-3 {
    grid-template-columns: repeat(3, 1fr) !important;
  }
  .container-lg,
  .container-xl,
  .container-sm {
    max-width: 1024px !important;
  }
}
